
/* right content */
#right-content-section {
    padding: 0 6rem 0 2rem;
    min-width: 200px;
}

#main-form>label {
    padding: 20px;
}

.right-display-list{
    list-style: none;
    padding-left: 0;
}

.main-form-hr {
    border: 1px solid #e0e0e0;
}

.main-form-checkbox {
    height: 1em;
    width: 1em;
    appearance: none;
    border: solid;
    border-color: #7e7d79;
    border-radius: 50%;
    vertical-align: middle;
    outline: none;
}

.main-form-checkbox:checked {
    background-color: #c4c1bc;
}