.top-nav-icon {
    height: 1.5rem;
    width: auto;
    /* padding: 0 1rem 0 0; */
}

#menu-bars {
    margin-left: 40px;
    margin-right: 10px;
}

#search-icon {
    background-color: #E47367;
    height: 20px;
    padding: 0.3rem;
    border-width: 0;
    border-radius: 0.3rem;
    vertical-align: bottom;
}

#search-bar {
    background-color: #E47367;
    color: #fff;
    height: 20px;
    padding: 0.3rem 0.5rem;
    margin-left: -8px;
    border-width: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

::placeholder {
    color: #fff;
}

#total-count {
    margin-right: 20px;
}

#check-circle {
    margin-right: 10px;
}