@import url('https://fonts.googleapis.com/css?family=Roboto:regular');

body {
  font-family: 'Roboto';
  font-size: 14px;
}

h1{
  font-size: 20px;
}

.item1{
  grid-area: header;
  background-color: #dc4c3e;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.item2 {
  grid-area: leftnav;
}

.item3 {
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header header header header header'
      'leftnav main main main main main'
  ;
  /* gap: 10px; */
}

.centered-span{
  display: inline-flex;
  align-items: center;
}
